
.fonts{
  font-family: 'Frank Ruhl Libre', sans-serif;
}

h3{
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  display: inline;
}

h2{
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  display: inline;
}



.question{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  justify-items: center;
}

.book{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;
  justify-items: center;
  justify-self: center;
}

.bar{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
  z-index: -1;
  position: relative;
  justify-self: center;
  justify-items: center;
  align-self: center;
}

.printed{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 4;
  z-index: 1;
  position: relative;
  justify-self: center;
  align-self: center;
}

.book{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 3;

  justify-items: center;
}

.progress{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 5;
  grid-row-end: 5;
  align-self: start;
  justify-self: center;
}

/* mobile screen */
@media screen and (min-width:0) and (max-width:900px) {
  .grid{
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

    grid-gap: 20px;
    padding: 20px 20px;
    width: 100%;
    max-width: 1400px;
  }
  .search{
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-items: start;
  }
  .subscribe{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-items: center;
  }
  .home{
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 5;
    align-self: end;
    justify-self: center;
  }
  .next{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 5;
    justify-self: end;
    align-self: end;
  }
  .menu{
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    justify-self: end;
  }
  .topnav{
    display: none;
  }
}

/* desktop screen */
@media screen and (min-width:900px) {
  .grid{
    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);

    grid-gap: 20px;

    width: 100%;

  }

    .home_banner{

      margin-left: 1em;
      margin-top: 1em;
    }

    .next{
      display: none;
    }

    .menu_banner{
      align-self: center;
      margin-right: 1em;
      margin-top: 1em;
      margin-left: 1em;
      margin-bottom: 1px;
    }
    .home{
      display: none;
    }
    .search{
      display: none;
    }
    .subscribe{
      display: none;
    }
    .menu{
      display: none;
    }
}
  .topnav{
    /* display: flex; */
    justify-content: between;
    align-items: center;
  }

    /* Add a black background color to the top navigation bar */
    .topnav {
      overflow: hidden;
      background-color: #F8FAFE;
      width: 100%;
    }



    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }


    /* Style the search box inside the navigation bar */
    .topnav input[type=text] {
      float: right;
      padding: 6px;
      border: none;
      margin-top: 1.5em;
      margin-right: 16px;
      font-size: 17px;
    }
